<div class="header">
  <div class="left">
    <span class="logo">M</span>icroLearn+
  </div>

  <div class="right">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/login">Login</a>
  </div>
</div>

<div class="page">
  <div class="card">

    <h2>Login</h2>

    <div class="input-group">
      <label>Email</label>
      <input [(ngModel)]="email" type="email">
    </div>

    <div class="input-group">
      <label>Password</label>
      <input [(ngModel)]="password" type="password">
    </div>

    <button (click)="Validate()">Sign In</button>

    <p [style.color]="answer !== 'Login success' ? 'red' : 'green'">
      {{answer}} as a/n {{role}}
    </p>

  </div>
</div>

<router-outlet></router-outlet>
<app-student *ngIf="role === 'student'"></app-student>
<app-admin *ngIf="role === 'admin'"></app-admin>
<app-instructor *ngIf="role === 'instructor'"></app-instructor>